@import url('./variables.css');

.carta{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.accordion-button{
    background-color: var(--color-primary);
    color: #000;
    height: 40px;
    border-radius: 20px 20px 20px 20px;
    margin-top: 5px;
}

.accordion-item{
    background-color: var(--color-background);
    border: none;
}

.accordion-body{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    
}

.producto{
    display: flex;
    /* justify-content: space-between; */
    gap: 2vw;
    margin: 5px 0;
    border-radius: 10px;
    padding: 10px;
    min-height: 10vw;
    background-color: bisque;
}

.producto__imagen{
    width: 20vw;
}
.producto__imagen img{
    width: 100%;
    height: 100%;
    max-height: 150px;
    object-fit:scale-down;
}

.producto__info{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
}