.App-header {
   background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #1E1E1E 95%), url(../img/restaurant1.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 60vh;
}


.slidercontenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    text-decoration: none;
    color: var(--color-primary);
}

.link:hover{
   color: var(--color-secondary);
}

.link-inicio{
   text-decoration: none;
   color: var(--color-text-secondary);
}

.inicio-empleado{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2vw;
   margin-bottom: 5vw;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.slider2 {
   position: relative;
   overflow: hidden;
   max-width: 80vw;
   margin: 50px auto;
 }
 
 .slides2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
 }
 
 .slide2 {
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .slide2-img:hover{
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    scale: 0.85;
 }
 .slide2 img {
    max-width: 80%;
    height: auto;
    max-height: 50vh;
 }
 
 .slider2 button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
 }
 
 .prev {
    left: 10px;
    color: white;
 }
 
 .next {
    right: 10px;
    color: white
 }
 
 @keyframes slide2 {
    0% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
}


.contact-section {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 50px 0;
}



.contact-info {
   width: 50%;
   margin-bottom: 20px;
}

.map-container {
   display: flex;
   justify-content: center;
}

.footer {
   min-height: 20vh;
   background-color: #333;
   color: #fff;
   text-align: center;
   display: flex;
   justify-content: center;
   gap: 5vw;
   align-items: center;
   padding: 20px 0;
}

@media screen and (max-width: 768px) {
   .footer{
      flex-direction: column;
   
   }
   
}

.footer a {
   color: #fff;
   margin: 0 10px;
   text-decoration: none;
}

.footer a:hover {
   text-decoration: underline;
}


#map {
   height: 400px;
   width: 50%;
   max-width: 750px;
   margin-top: 20px;
}

@media screen and (max-width: 768px) {
   .contact-section {
      flex-direction: column;
   }

   .contact-info {
      width: 100%;
   }

   #map {
      width: 100%;
   }
   
}