/* Variables */

:root {
    --color-primary: #AD6903;
    --color-secondary: #F2EFE4;
    --color-tertiary: #F2EFE4;
    --color-text: #000;
    --color-text-secondary: #000;

    --color-background: #1E1E1E;
}